{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">

            <select name="symbol" class="form-control">
                <option value="no_select">Select Symbol</option>
                {% for row in rows %}
                <option value="{{row.symbols}}">{{row.symbols}}</option>
                {% endfor %}
            </select>

            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}